{% extends 'auctions/index.html' %}

{% block tabcontent %}

    {% include 'auctions/includes/userNavTab.html' with cart_active=True %}

    <div class="tab-content mt-5" id="indexTabContent">

        <p class="lead">Order details</p>
        {% include 'auctions/includes/orderTable.html' with listings=listings %}

        <p class="lead">Ready to pay?</p>
        <div class="alert alert-info">
            <p>
                <i class="bi bi-info-circle"></i>
                Payments is a working feature so please try it out! It is set up with generic API keys for testing. I don't know what will 
                happen if you enter your real CC, probably nothing, but just in case, use one of the test cards below.
            </p>
            <p>
                Use the following test card numbers to try out a successful transaction or a failed transaction. Use any random future expiration date and 3-digit security code.
            </p>
            <ul>
                <li><strong>Success</strong>: 4242 4242 4242 4242</li>
                <li><strong>Declined</strong>: 4000 0000 0000 9995</li>
            </ul>
        </div>
        <p>Click the button below to be transferred to a secure payment processor via Stripe.</p>
        <a href="{% url 'checkout' %}" class="btn btn-lg btn-primary my-3 {% if not listings %}disabled " disabled="true{% endif %}">Checkout</a>
        
    </div>
{% endblock tabcontent %}