{% extends "auctions/listings.html" %}

{% block breadcrumb %}
    {% include 'auctions/includes/breadcrumb.html' with page=category_title %}
{% endblock breadcrumb %}

{% block control_block_upper %}
    {% url 'category' category_id as control_url %}
    {% include 'auctions/includes/listingControls.html' with numbers_only=False controls=controls_dict total_objects=total_objects control_url=control_url %}
{% endblock control_block_upper %}

{% block listing_block %}
    {% for listing in listings %}
        {% include 'auctions/includes/listingSingle.html' with listing=listing %}
    {% empty %}
        <h3>No listings found for this category.</h3>
    {% endfor %}
{% endblock listing_block %}

{% block control_block_lower %}
    {% include 'auctions/includes/listingControls.html' with numbers_only=True controls=controls_dict total_objects=total_objects %}
{% endblock control_block_lower %}