{% extends "auctions/layout.html" %}

{% block body %}

    {% block breadcrumb %}
        {% include 'auctions/includes/breadcrumb.html' with page='Create Listing' %}
    {% endblock breadcrumb %}

    {% if user.is_authenticated %}
        <div class="container w-75 ml-0 p-0">
        <p class="mb-5">Please fill out all fields.</p>

        {# TODO: REFACTOR TO USE AN INCLUDE #}
        {% include 'auctions/includes/listingForm.html' with listing_form=form new_listing=True %}

    {% else %}

        <p>You must be logged in to create a listing.</p>
        <p><a href="{% url 'login' %}">Click here to login</a></p>
    
    {% endif %}

{% endblock %}
{% comment %} 
<form action="{% url 'create_listing' %}" method="POST" id="listingForm" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row mb-4"><p class="mark">{{ form.non_field_errors }}</p></div>

    <div class="row mb-4">
        <div class="col-sm-9 offset-sm-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="random" id="randomInput" oninput="remove_requirements()">
                <label for="randomInput" class="form-check-label">Generate a random listing</label>
            </div>
        </div>
    </div>
    
    {% for field in form %}
        <div class="row mb-4">
            <div class="col-sm-3">
                <label for="{{ field.id_for_label }}" class="col-form-label d-block">{{ field.label }}:</label>
            </div>
            <div class="col-sm-9">
                {{ field }}
                <div class="text-danger text-small">
                    <ul class="ml-0">
                        {% for error in field.errors  %}
                            <li class="text-danger small">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row mb-4">
        <div class="col-sm-9 offset-sm-3">
            <input type="submit" class="btn btn-primary" value="Preview Listing" name="preview">
        </div>
    </div>

</form>
</div>

<script>
function remove_requirements() {
    let formElements = document.getElementById("listingForm").elements;
    for (let i = 0; i < formElements.length; i++) {
        formElements[i].required = false;
    }
}
</script> {% endcomment %}