{% extends "auctions/layout.html" %}

{% block body %}

    {% block breadcrumb %}
        {% include 'auctions/includes/breadcrumb.html' with page='Create Listing' %}
    {% endblock breadcrumb %}

    {% if user.is_authenticated %}
        <div class="container w-75 ml-0 p-0">

        {% include 'auctions/includes/listingForm.html' with listing_form=form new_listing=True %}

    {% else %}

        <p>You must be logged in to create a listing.</p>
        <p><a href="{% url 'login' %}">Click here to login</a></p>
    
    {% endif %}

{% endblock %}