{% extends "auctions/layout.html" %}

{% block body %}

    {% block breadcrumb %}
        {% include 'auctions/includes/breadcrumb.html' with page='Edit listing: ' listing_title=listing_bundle.listing.title %}
    {% endblock breadcrumb %}

    {% if user.is_authenticated %}
        <div class="container w-75 ml-0 p-0">
        
        {% include 'auctions/includes/listing_single.html' with listing=listing_bundle.listing expiration=listing_bundle.expiration_bundle watch_options=False owner_controls=True watching_currently=False disappear=False %}

        {% include 'auctions/includes/listingForm.html' with listing_form=edit_listing_form new_listing=False %}

    {% else %}

        <p>You must be logged in to create a listing.</p>
        <p><a href="{% url 'login' %}">Click here to login</a></p>
    
    {% endif %}

{% endblock %}