{% extends 'auctions/layout.html' %}

{% load listings_tags %}

{% block title %}
    All Listings
{% endblock title %}


{% block body %}

    {% block breadcrumb %}
        {% include 'auctions/includes/breadcrumb.html' with page='All Listings' %}
    {% endblock breadcrumb %}

    {% block control_block_upper %}
        {% url 'all_listings' as control_url %}
        {% include 'auctions/includes/listingControls.html' with numbers_only=False controls=controls_dict control_url=control_url %}
    {% endblock control_block_upper %}

    {% block listing_block %}
        {% for listing in listings %}
            {% include 'auctions/includes/listingSingle.html' with listing=listing %}
        {% empty %}
            <p class="lead text-center">No listings found.</p>
        {% endfor %}
    {% endblock listing_block %}
    
    {% block control_block_lower %}
        {% url 'all_listings' as control_url %}
        {% include 'auctions/includes/listingControls.html' with numbers_only=True controls=controls_dict total_objects=total_objects control_url=control_url %}
    {% endblock control_block_lower %}

{% endblock %}