{% extends 'auctions/index.html' %}

{% block tabcontent %}

    {% include 'auctions/includes/userNavTab.html' with orders_active=True %}

    <p class="my-5">Click on an order ID to see more details.</p>
    <table class="table">
        <thead>
            <tr>
                <td class="fw-light">Order #</td>
                <td class="fw-light">Status</td>
                <td class="fw-light">Items total</td>
                <td class="fw-light">Shipping total</td>
                <td class="fw-light">Grand total</td>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td><a href="{% url 'view_order' order.order_id %}">{{ order.order_id }}</a></td>
                    <td>{{ order.order_status }}</td>
                    <td>${{ order.order_subtotal }}</td>
                    <td>${{ order.order_ship_total }}</td>
                    <td class="fw-bold">${{ order.order_total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock tabcontent %}