{% extends 'auctions/index.html' %}

{% block tabcontent %}

    {% include 'auctions/includes/userNavTab.html' with orders_active=True %}

    <p class="my-5">Click on an order # to see more details.</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <td class="fw-light">Order #</td>
                <td class="fw-light">Status</td>
                <td class="fw-light">Items total</td>
                <td class="fw-light">Shipping total</td>
                <td class="fw-light">Grand total</td>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td><a href="{% url 'view_order' order.id %}">{{ order.id }}</a></td>
                    <td>{{ order.status }}</td>
                    <td>${{ order.item_subtotal }}</td>
                    <td>${{ order.shipping_subtotal }}</td>
                    <td class="fw-bold">${{ order.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock tabcontent %}