{% extends "auctions/layout.html" %}

{% block body %}

    {% block breadcrumb %}
        {% include 'auctions/includes/breadcrumb.html' with page='Registration' %}
    {% endblock breadcrumb %}

    {% if message %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post" class="container my-5 p-0">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-sm-4">
                {% url 'ajax' 'generate_random_user' 0 as ajax_url %}
                <input id="randomUserButton" type="button" value="Generate a random user" class="btn btn-outline-primary" onclick="ajax('{{ajax_url}}')">
            </div>
        </div>
        <h5 class="mt-5 mb-3">Required information</h5>
        {% for field in cred_form %}
            <div class="row mb-3">
                <div class="col-sm-4">
                    <div class="form-floating">
                        {{ field }}
                        <label for="field.id_for_label">{{ field.label }}</label>
                    </div>
                </div>
            </div>
        {% endfor %}
        <h5 class="mt-5 mb-3">Optional information</h5>
        {% for field in bio_form %}
            <div class="row mb-3">
                <div class="col-sm-4">
                    <div class="form-floating">
                        {{ field }}
                        <label for="field.id_for_label">{{ field.label }}</label>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for field in ship_form %}
        <div class="row mb-3">
            <div class="col-sm-4">
                <div class="form-floating">
                    {{ field }}
                    <label for="field.id_for_label">{{ field.label }}</label>
                </div>
            </div>
        </div>
    {% endfor %}
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>

{% endblock %}