{% extends "auctions/layout.html" %}

{% block body %}

    {% block breadcrumb %}
        {% include 'auctions/includes/breadcrumb.html' with page='Registration' %}
    {% endblock breadcrumb %}

    {% if message %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post" class="container my-5 p-0">
        {% csrf_token %}
        <div class="col-md-8">
            <div class="row">
                <div class="row mb-3">
                    <div class="col-sm-4">
                        {% url 'ajax' 'generate_random_user' 0 as ajax_url %}
                        <input id="randomUserButton" type="button" value="Generate a random user" class="btn btn-outline-primary" onclick="ajax('{{ajax_url}}')">
                    </div>
                </div>
                <p class="lead">(Required) User credentials</p>
                {% for field in cred_form %}
                    <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label">
                        {{ field.label }}
                    </label>
                    <div class="col-md-8">
                        {{ field }}
                        <div class="text-danger text-small">
                            <ul class="ml-0">
                                {% for error in field.errors  %}
                                    <li class="text-danger small">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
                <hr class="my-5"/>
                <p class="lead">(Optional) Contact information</p>
                {% for field in bio_form %}
                    {% if field.name != 'email' %}
                        <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label">
                            {{ field.label }}
                        </label>
                        <div class="col-md-8">
                            {{ field }}
                            <div class="text-danger text-small">
                                <ul class="ml-0">
                                    {% for error in field.errors  %}
                                        <li class="text-danger small">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <hr class="my-5"/>
                <p class="lead">(Optional) Shipping information</p>
                {% for field in ship_form %}
                    <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label">
                        {{ field.label }}
                    </label>
                    <div class="col-md-8">
                        {{ field }}
                        <div class="text-danger text-small">
                            <ul class="ml-0">
                                {% for error in field.errors  %}
                                    <li class="text-danger small">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
                <div class="row my-3">
                    <div class="col">
                        <input type="reset" class="btn btn-outline-secondary me-5" value="Clear">
                        <input type="submit" class="btn btn-primary px-4" value="Register" name="submit">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>

{% endblock %}