{% extends 'auctions/index.html' %}

{% load static %}

{% block tabcontent %}

    {% include 'auctions/includes/userNavTab.html' with settings_active=True %}

    <div class="tab-content mt-5" id="indexTabContent">
        <div class="row mb-5">
            {% include 'auctions/includes/userHeader.html' with user=request.user %}
        </div>
        <div class="row">
            {% include 'auctions/includes/profileForm.html' with form=form form_action='settings' %}
        </div>
    </div>
{% endblock tabcontent %}