{% extends "auctions/layout.html"  %}

{% load static %}
{% block body %}

    {% block breadcrumb %}
        {% include 'auctions/includes/breadcrumb.html' with page='User profile: ' listing_title=request.user %}
    {% endblock breadcrumb %}

    <div class="container">
        <div class="row mb-5">
            <div class="col-md-2">
                <img src="{% static 'auctions/images/user_avatar.png' %}" class="img-fluid">
            </div>
            <div class="col-md-10 d-flex align-items-center">
                <div>
                    <h1>{{ request.user }}</h1>
                    <p class="text-muted">User since {{ request.user.date_joined }}</p>
                </div>
            </div>
        </div>
{% endblock %}