{% extends "auctions/layout.html"  %}

{% load static %}
{% block body %}

    {% block breadcrumb %}
        {% include 'auctions/includes/breadcrumb.html' with page='User profile: ' listing_title=user.username %}
    {% endblock breadcrumb %}

    {% include 'auctions/includes/userHeader.html' with user=user %}
    <div class="container">
        {% url 'view_user' user as control_url %}
        {% include 'auctions/includes/listingControls.html' with controls=page_controls control_url=control_url %}
        {% for listing in listings %}
            {% include 'auctions/includes/listingSingle.html' with listing=listing %}
        {% endfor %}
        {% include 'auctions/includes/listingControls.html' with controls=page_controls control_url=control_url numbers_only=True %}
    </div>
{% endblock %}