{% extends 'auctions/layout.html' %}
{% load static %}
{% block body %}

    {% block breadcrumb %}
        {% include 'auctions/includes/breadcrumb.html' with page='View listing: ' listing_title=listing.title %}
    {% endblock breadcrumb %}

    {% include 'auctions/includes/notifications.html' with notifications=notifications %}

    {% if listing.expired %}
        <div class="alert alert-warning">This listing has expired.</div>
    {% endif %}

    <article class="container p-0 m-0">
        <div class="row">
            <div class="col-lg-9 mb-3">
                {% include 'auctions/includes/listingSingle.html' with listing=listing %}
            </div>
            <div class="col-lg-3 mb-3">
                {% if request.user != listing.owner %}
                    {% include 'auctions/includes/bidWidget.html' with listing=listing %}
                {% endif %}
            </div>
        </div>
    </article>

    {% include 'auctions/includes/comment_block.html' with comments=comments listing_id=listing_bundle.listing.id %}

{% endblock %}