{% extends 'auctions/index.html' %}

{% block tabcontent %}
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Your Listings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'watchlist' %}">Your Watchlist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'settings' %}">Your Profile</a>
            </li>
        </ul>
    </nav>
    <div class="tab-content mt-5" id="indexTabContent">
        {% url 'index' as control_url %}
        {% include 'auctions/includes/listingControls.html' with numbers_only=False controls=listing_controls control_url=control_url %}

        {% for listing_bundle in listing_bundles %}
            {% include 'auctions/includes/listing_single.html' with listing=listing_bundle.listing expiration=listing_bundle.expiration_bundle watch_options=False owner_controls=False watching_currently=True disappear=True %}
        {% empty %}
            <h5>No listings were found.</h5>
        {% endfor %}
    </div>
{% endblock tabcontent %}