{% extends 'auctions/index.html' %}

{% block tabcontent %}

    {% include 'auctions/includes/userNavTab.html' with watchlist_active=True %}

    <div class="tab-content mt-5" id="indexTabContent">
        {% url 'watchlist' as control_url %}
        {% include 'auctions/includes/listingControls.html' with numbers_only=False controls=listing_controls control_url=control_url %}

        {% for listing_bundle in listing_bundles %}
            {% include 'auctions/includes/listing_single.html' with listing=listing_bundle.listing expiration=listing_bundle.expiration_bundle watch_options=False owner_controls=False watching_currently=True disappear=True %}
        {% empty %}
            <h5>No listings were found.</h5>
        {% endfor %}
    </div>
{% endblock tabcontent %}