<div id="addImageModal" class="modal fade" tabindex="-1" aria-labelledby="addImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add an image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container my-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item mb-3 pb-4">
                            <p class="lead">Click "Save" to generate a random image.</p>
                        </li>
                        <li class="list-group-item mb-3 pb-4">
                            <label class="lead mb-3" for="id_upload_image">Or, upload an image from your computer.</label>
                            <input type="file" id="id_upload_image" name="upload_image" class="form-control" data-target="{{ ajax.ajax_upload_media.name }}" {{ multiple }}>
                        </li>
                        <li class="list-group-item mb-3 pb-4">
                            <label class="lead mb-3" for="id_url_image">Or, add an image from the internet.</label>
                            <input type="url" id="id_url_image" name="url_image" class="form-control" data-target="{{ ajax.ajax_upload_media.name }}" placeholder="URL of image">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-outline-secondary">Clear form</button>
                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-click-action="{{ ajax.ajax_upload_media.name }}">Save</button>
            </div>
        </div>
    </div>
</div>