{% comment %}
    params:
    listing = the listing object
    current_bid = the highest current bid for the listing
    expiration = a dict containing all the listing's expiration data
{% endcomment %}

<div class="container border border-secondary px-5 pb-2">
    <div class="row text-center mb-2">
        <span class="my-2 fw-light h6">
        {% if listing.expired == True %}
            (Bidding is closed)
        {% else %}
            Place a bid
        {% endif %}
        <hr/>
        </span>
    </div>
    <div class="row mb-2">
        <p class="fw-light">Starting bid: ${{ listing.starting_bid|floatformat:"2g" }}</p>
        {% if listing.winning_bid != None %}
            <p class="lead">
                Winning bid: <strong>${{ listing.winning_bid|floatformat:"2g"|default:"0" }}</strong>
            </p>
            <br/>
            <span class="text-muted">Winner: <a href="{% url 'view_user' listing.winner %}">{{ listing.winner }}</a></span>
        {% else %}
            <p class="fw-light">
            {% if listing.current_bid is not None %}
                    <strong>Current bid: ${{ listing.current_bid.amount|floatformat:"2g"|default:listing.starting_bid }}</strong>
                    <br/>
                    <small class="text-muted">By user <a href="{% url 'view_user' listing.current_bid.user %}">{{ listing.current_bid.user }}</a></small>
            {% else %}
                    No bids.
            {% endif %}
            </p>
        {% endif %}
    </div>
    <div class="row mb-2">
        <form action="{% url 'place_bid' listing.id %}" method="POST">
            {% csrf_token %}
            {{ bid_form.user }}
            {{ bid_form.listing }}
            <div class="my-2 fw-light h6">
                <hr/>
                <label for="bidEntry-{{listing.id}}" class="form-label">Your bid:</label>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text">$</span>
                {% comment %} <input type="text" class="form-control bid-entry" aria-label="Amount (to the nearest dollar)" name="bid"{% if not request.user.is_authenticated %} disabled{% endif %}>
                {% endcomment %}
                {{ bid_form.amount }}
                <span class="input-group-text">.00</span>
            </div>
            <div class="text-danger small">{{ bid_form.non_field_errors }}{{ bid_form.amount.errors }}</div>
            {% if not request.user.is_authenticated %}
            <span class="text-danger">You must <a href="{% url 'login' %}" class="link-danger">login</a> to place a bid</span>
            {% endif %}
            <div id="bidEntryHelp-{{listing.id}}" class="form-text small d-none">Your bid must be greater than the current bid.</div>

            <input type="submit" class="btn btn-primary mt-3" value="Place Bid">
        </form>
    </div>
</div>