{% comment %}
    params:
    listing = the listing object
    current_bid = the highest current bid for the listing
    expiration = a dict containing all the listing's expiration data
{% endcomment %}

<div class="border rounded my-3 p-3">

    {% if expiration.expired == True %}

        <h5 class="text-center">Bidding Is Closed</h5>
        <hr />
        <p>Starting bid: <b>${{ listing.starting_bid|floatformat:"2g" }}</b><p>
        {% if listing.winning_bid is None or listing.winner is None %}
            <p class="lead">No winner.</p>
        {% else %}
            <p class="lead">Winning bid: <b>${{ listing.winning_bid|floatformat:"2g"|default:"0" }}</b><p>
            <p class="small">By user: <a href="{% url 'view_user' listing.winner|default:'' %}">{{ listing.winner|default:"No winner." }}</a></p>
        {% endif %}
    
    {% else %}
        <h5 class="text-center">Place a Bid</h5>
        <hr />
        <p class="lead">Current bid: <b>${{ listing.current_bid|floatformat:"2g"|default:listing.starting_bid }}</b></p>
        <p class="small">
            {% if current_bid.user %}
                Placed by <a href="{% url 'view_user' current_bid.user %}">{{ current_bid.user }}</a>
            {% else %}
                No bids yet.
            {% endif %}
        </p>

        <p class="small">Auction ends in {{ expiration.days }}d {{expiration.hours}}h, {{expiration.seconds}}s</p>

        <form action="{% url 'place_bid' %}" method="POST">

            {% csrf_token %}

            <label for="bidEntry-{{listing.id}}" class="form-label">Your bid:</label>

            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input type="text" class="form-control bid-entry" aria-label="Amount (to the nearest dollar)" name="bid" id="bidEntry-{{listing.id}}">
                <span class="input-group-text">.00</span>
                {% if bid_message %}
                    <div class="text-danger small">{{ bid_message }}</div>
                {% endif %}
            </div>

            <div id="bidEntryHelp-{{listing.id}}" class="form-text small">Your bid must be greater than the current bid.</div>

            <input type="hidden" name="listing-id" value="{{listing.id}}">
            <input type="submit" class="btn btn-primary mt-3" value="Place Bid">
        </form>

    {% endif %}

</div>