{% load static %}

{# This card is all that's needed for a non-reply comment #}
<div id="comment-{{comment.id}}" class="card my-2 p-0">
    <div class="row p-0 m-0">
        <div class="col-md-2 col-xl-1 p-3 m-0 d-none d-md-block">
            <img src="{% static 'auctions/images/user_avatar.png' %}" class="img-fluid" alt="User's profile picture">
        </div>
        <div class="col-md-10 col-xl-11 p-0 m-0">
            <div class="card-body">
                <p class="card-text" id="commentText-{{comment.id}}">
                    {{ comment.content }}
                </p>
                <div class=" d-flex">
                    <span class="flex-grow-1"><small class="text-muted border-none">Posted by <a href="{% url 'view_user' comment.user %}"><em>{{ comment.user }}</em></a> at {{ comment.timestamp }}</small></span>
                    {% url 'ajax' 'reply_comment' comment.id as url %}
                    <span class="me-3"><small><a href="#commentInput" onclick="ajax('{{url}}')"><i class="bi bi-arrow-return-right"></i> Reply</a></small></span>
                    {% if request.user == comment.user %}
                        {% url 'ajax' 'edit_comment' comment.id as url %}
                        <span class="me-3"><small><a href="#commentInput" onclick="ajax('{{url}}')"><i class="bi bi-pencil-square"></i> Edit</a></small></span>
                        {% url 'ajax' 'delete_comment' comment.id as url %}
                        <span class="me-3"><small><a href="#commentInput" onclick="ajax('{{url}}')"><i class="bi bi-trash"></i> Delete</a></small></span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{# end regular comment #}