{% load static %}

<section class="row mt-4" id="commentBlock">
    <div class="col-lg-9">
        <a name="commentInput" id="commentInputAnchor">
            <h5 class="my-4">Comments</h5>
        </a>
            
        {% if request.user.is_authenticated %}
            <form id="newCommentForm" action="{% url 'comment' %}" method="POST">
                {% csrf_token %}
                <div class="form-floating">
                    {{ comment_form.content }}
                    {{ comment_form.content.label_tag }}
                    {{ comment_form.listing }}
                    {{ comment_form.user }}
                </div>
                <div class="text-small text-danger">{{ comment_form.content.errors }}</div>
                <div class="d-flex flex-row justify-content-between mt-2 mb-4">
                    <span>
                        <input id="randomCommentButton" type="button" value="Generate a random comment" class="btn btn-outline-primary" data-click-action="{{ ajax.ajax_generate_comment.name }}">
                    </span>
                    <span>
                        <input id="commentSubmitButton" type="submit" class="btn btn-primary" value="Submit">
                    </span>
                </div>
            </form>
        {% else %}
            <p>Please <a href="{% url 'login' %}">login</a> to comment on this listing.</p>
        {% endif %}
        <hr/>

        {% for comment in listing.comments.all %}
            {% include 'auctions/includes/comment_single.html' with comment=comment %}
        {% endfor %}
        
    </div>
    <div class="col-lg-3"></div>
</section>