{% comment %}
    new_listing = True/False
{% endcomment %}

{% if new_listing or preview_listing %}
    {% url 'create_listing' as action_url %}
{% else %}
    {% url 'edit_listing' as action_url %}
{% endif %}


<form action="{{action_url}}" method="POST" id="listingForm" enctype="multipart/form-data" class="container">
    <div class="row">
        <div class="col-md-10">
            {% csrf_token %}
            <div id="formErrors">
                {% if form.non_field_errors %}
                    <div class="row mb-4"><p class="mark">{{ form.non_field_errors }}</p></div>
                {% endif %}
            </div>
            {% if new_listing %}
                <div class="row mb-4">
                    <label for="randomInput" class="col-form-label col-sm-4 form-check-label ">Generate a random listing</label>
                    <div class="col-md-8">
                        <input type="checkbox" class="form-check-input align-bottom mt-2" name="random" id="randomInput" oninput="remove_requirements()">
                    </div>
                </div>
            {% endif %}
            <hr class="my-5"/>
            <p class="lead my-4">Please fill out all fields.</p>
            {% include 'auctions/includes/uploadImageForm.html' %}
            {% for field in listing_form %}
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label for="{{ field.id_for_label }}" class="col-form-label d-block">{{ field.label }}:</label>
                    </div>
                    <div class="col-sm-8">
                        {{ field }} {{ field.help_text }}
                        <div class="text-danger text-small">
                            <ul class="ml-0">
                                {% for error in field.errors  %}
                                    <li class="text-danger small">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row mb-4">
                <div class="col-sm-4">
                    <a href="{% url 'index' %}" class="btn btn-danger">Cancel</a>
                </div>
                <div class="col-sm-8">
                    {% if new_listing %}
                        <input type="submit" class="btn btn-primary" value="Preview Listing" name="preview">
                    {% elif preview_listing %}
                        <input type="submit" class="btn btn-primary" value="Preview Changes" name="preview">
                        <input type="submit" class="btn btn-primary" value="Create Listing" name="submit">
                    {% else %}
                        <input type="submit" class="btn btn-primary" value="Save" name="submit">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

</form>

<script>
function remove_requirements() {
    
    let form = document.getElementById("listingForm");
    let formElements = form.elements;
    for (let i = 0; i < formElements.length; i++) {
        formElements[i].required = false;
    }
    form.submit()

}
</script>