<div class="container">
    <div class="row">
        <div class="col-md-10">

            {# Display form errors #}
            <div id="formErrors">
                {% if form.non_field_errors %}
                    <div class="row mb-4"><p class="mark">{{ form.non_field_errors }}</p></div>
                    <hr class="my-5"/>
                {% endif %}
            </div>

            <p class="lead my-4">Please fill out all fields.</p>

            <form method="POST" id="listingForm" enctype="multipart/form-data" class="container-fluid p-0 m-0">
                {% csrf_token %}

                {# Display option to generate a random listing #}
                {% if form_mode == "create" %}
                    <div class="row mb-4">
                        <div class="col">
                            <button type="submit" class="btn btn-outline-primary" formaction="{% url 'create_listing' %}" name="randomize">
                                Generate a random listing
                            </button>
                        </div>
                    </div>
                    <hr/>
                {% endif %}
                
                <input type="hidden" id="listingId" name="listing_id" value="{{ listing.id }}">

                <div class="row mb-4">
                    <label class="col-form label col-md-4" for="id_upload_image">Include at least one image (maximum 10 images):</label>
                    <div class="col-md-8">
                        <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#addImageModal" type="button">
                            <i class="bi bi-card-image"></i> Add image
                        </button>
                    </div>
                </div>
                
                {# Include the subform for adding images to this listing #}
                {% include 'auctions/includes/uploadImage.html' with images=listing.all_images multiple="multiple" %}

                {# Display field forms according to the modelform #}
                {% for field in form %}
                    <div class="row mb-4">
                        <div class="col-sm-4">
                            <label for="{{ field.id_for_label }}" class="col-form-label d-block">{{ field.label }}:</label>
                        </div>
                        <div class="col-sm-8">
                            {{ field }} {{ field.help_text }}
                            <div class="text-danger text-small">
                                <ul class="ml-0">
                                    {% for error in field.errors  %}
                                        <li class="text-danger small">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {# Display controls for saving/canceling. #}
                <div class="row mb-4">
                    <div class="col col-12">
                        <div class="d-flex">
                            <div><a href="{% url 'index' %}" class="btn btn-outline-danger">Cancel</a></div>

                            {% if form_mode == 'edit' %}
                                <div class="me-2">
                                    <a href="{% url 'delete_listing' listing.id %}" class="btn btn-danger ms-3">
                                        <i class="bi bi-trash me-1"></i> Delete listing
                                    </a>
                                </div>
                            {% endif %}

                            <div class="flex-grow-1"></div>
                            
                            {% if form_mode == 'create' %}
                                {% url 'create_listing' as form_action %}
                            {% elif form_mode == 'edit' %}
                                {% url 'edit_listing' listing.id as form_action %}
                            {% endif %}
                            <div>
                                <button type="submit" class="btn btn-outline-primary" formaction="{{ form_action }}">
                                    <i class="bi bi-save"></i>
                                    {% if listing.active == True %}
                                     Save changes
                                    {% else %}
                                     Save draft
                                    {% endif %}
                                </button>
                            </div>
                            
                            {% if form_mode == 'edit' %}
                                <div>
                                    <button type="submit" class="btn btn-primary ms-2" formaction="{% url 'submit_listing' listing.id %}">
                                        <i class="bi bi-save-fill ms-3"></i> Save and post
                                    </button>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>