{% load static %}

<div id="{{ listing.id }}" class="container border border-secondary px-5 h-100 mb-3">
    <div class="row mb-2 text-center">
            <span class="my-2 fw-light h6 flex-item">
            {% if listing.expired == True %}
                Listing is expired
            {% else %}
                {% if listing.active == True %}
                    Listing expires in
                    {{ listing.expiration.days }} days,
                    {{ listing.expiration.minutes }} minutes,
                    {{ listing.expiration.seconds }} seconds
                {% endif %}
            {% endif %}
            </span>
        <hr/>
    </div>
    <div class="row mb-2">
        {% if listing.category.id %}
            {% url 'category' listing.category.id as cat_url %}
        {% else %}
            {% url 'categories' as cat_url %}
        {% endif %}
        <span class="px-0">Category: <a href="{{ cat_url }}" class="text-decoration-none">{{ listing.category|default:"Uncategorized" }}</a></span>
    </div>
    <div class="row mb-3 px-0">
        <a href="{% url 'view_listing' listing.id %}" class="fs-2 lead text-decoration-none px-0">
            {{ listing.title }}
        </a>
    </div>
    <div class="row mb-2">
        {% if listing.all_images %}
            {% include 'auctions/includes/imageGrid.html' with images=listing.all_images listing_id=listing.id %}
        {% else %}
            {% include 'auctions/includes/imageGrid.html' with images=images listing_id=listing.id %}
        {% endif %}
    </div>
    <div class="row mb-2">
        <p class="px-0">{{ listing.description|truncatewords:200 }}</p>
    </div>
    <div class="row mb-2">
        <p class="lead mx-0 px-0">Current bid: ${{ listing.current_bid|default:listing.starting_bid }}</p>
        <p class="fw-light px-0">Being watched by {{ listing.watchers.count }} users.
    </div>
    {% if listing.active == True %}
        <div class="row mb-2">
            <hr/>
            <div class="d-flex flex-row px-0 my-2 fw-light justify-content-between">
                {% if listing.owner != request.user %}
                    <div class="text-start flex-item fw-light me-5">
                        Posted by <a href="{% url 'view_user' listing.owner %}">{{ listing.owner }}</a> at {{ listing.timestamp }}
                    </div>
                    {% if listing.expired == False and request.user.is_authenticated %}
                        <div class="text-end flex-item fw-light" id="watchButton-{{ listing.id }}">
                            {% if listing in user.watchlist.all %}
                                {% include 'auctions/includes/watchlistButton.html' with in_watchlist=True %}
                            {% else %}
                                {% include 'auctions/includes/watchlistButton.html' with in_watchlist=False %}
                            {% endif %}
                        </div>
                    {% endif %}
                {% else %}
                        <div class="flex-grow-1 text-muted">You posted this on {{ listing.timestamp }}</div>
                        <div class="me-2 mb-2 mb-sm-0"><a href="{% url 'edit_listing' listing.id %}" class="btn btn-outline-primary btn-sm">Edit listing <i class="bi bi-pencil-square"></i></a></div>
                        <div><a href="{% url 'delete_listing' listing.id %}" class="btn btn-outline-danger btn-sm">Delete listing <i class="bi bi-trash"></i></a></div>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>