{% comment "Parameters" %}
    listing = the listing to display
    watch_options = include button for adding/removing listing to/from watchlist
    owner_controls = include button to edit or delete listing
    disappear = flag to trigger automatic deletion of the listing from the DOM (as in the case of a watchlist to remove the listing without requiring a page reload)
    watching_currently = whether the listing is currently in the user's watchlist
    expiration = the dict that contains all the information regarding the listing's expiration date and time
{% endcomment %}

<div class="container my-3 border rounded py-2" id="listing-{{listing.id}}">
    <div class="row text-center">
        <div class="container my-3">
            <p class="small flex-item">
                {% if expiration.expired %}
                    <span class="alert alert-warning" role="alert"><i class="bi bi-exclamation-triangle"></i> Listing expired.</span>
                {% else %}
                    <i class="bi bi-alarm"></i> Auction ends in {{ expiration.days }}d {{expiration.hours}}h, {{expiration.seconds}}s
                {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-auto mx-auto">
            <img src="{{ listing.image_url }}" class="img-thumbnail" width=200/>
        </div>
        <div class="col">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-auto col-sm mx-auto small text-muted">
                        <i class="bi bi-tag"></i> <a href="{% url 'category' listing.category.id %}">{{ listing.category }}</a>
                    </div>
                </div>
                <div class="row">
                    <a href="
                    {# listings in preview mode won't have an ID yet, hence this check #}
                    {% if listing.id %}
                        {% url 'view_listing' listing.id %}
                    {% else %}
                        #
                    {% endif %}
                    " class="lead text-decoration-none">{{ listing.title }}</a>
                </div>
                <div class="row mb-2"><p>{{ listing.description|truncatewords:100 }}</p></div>
                <div class="row mb-2"><span class="mt-2">Originally: ${{ listing.starting_bid }}</span></div>
                {% if expiration.expired %}
                    <div class="row mb-2"><span class="mark lead">Winning bid: ${{ listing.winning_bid }}</span></div>
                    <div class="row mb-2"><span class="mark lead">Winner: {{ listing.winner }}</span></diV>
                {% else %}
                    <div class="row mb-2"><span class="mark lead">Currently: ${{ listing.current_bid }}</span></div>
                {% endif %}
                <div class="row mb-2"><em><small>+${{ listing.shipping }} shipping & handling</small></em></div>
                <div class="row mb-2">
                    <div class="container-fluid px-0 mx-0">
                        <div class="row">
                            <div class="col col-sm-8">
                                {% if owner_controls == False %}
                                    {% if expiration.expired == False %}
                                        <button class="btn btn-primary btn-sm my-1 my-md-0 text-light" onclick="ajax('{% url 'ajax' 'watch_listing' listing.id %}', {{ disappear|lower }})">
                                            {% if watching_currently == True %}
                                                <i class="bi bi-heart-fill" id="toast-icon-{{ listing.id }}"></i>&nbsp;<span id="toast-button-text-{{ listing.id }}">Watching</span>
                                            {% else %}
                                                <i class="bi bi-heart" id="toast-icon-{{ listing.id }}"></i>&nbsp;<span id="toast-button-text-{{ listing.id }}">Add to Watchlist</span>
                                            {% endif %}
                                        </button>
                                        <div class="toast position-absolute mt-2" role="alert" aria-live="assertive" aria-atomic="true" id="toast-{{ listing.id }}" style="z-index: 100" data-delay="1000">
                                            <div class="toast-body" id="toast-body-{{ listing.id }}">
                                                Added to watchlist!
                                            </div>
                                        </div>
                                        <small>Posted by <a href="{% url 'view_user' listing.owner %}">{{ listing.owner }}</a> at {{ listing.timestamp }}.</small>
                                    {% else %}
                                        <small>This listing has expired.</small>
                                    {% endif %}
                                {% else %}
                                    <small>You posted this at {{ listing.timestamp }}.</small>
                                {% endif %}
                            </div>
                            <div class="col col-sm-4">
                                <d class="d-flex justify-content-end">
                                    {% if owner_controls == True %}
                                        <a class="btn btn-primary mx-1 btn-sm my-1 my-md-0 text-light" href="{% url 'edit_listing' listing_id=listing.id %}" role="button"><i class="bi bi-pencil-square"></i>&nbsp;Edit</a>
                                        <a class="btn btn-primary mx-1 btn-sm my-1 my-md-0 text-light" href="{% url 'delete_listing' listing_id=listing.id %}" role="button"><i class="bi bi-trash"></i>&nbsp;Delete</a>
                                    {% endif %}
                                </d>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>