<div class="row mb-4">
    <label class="col-form label col-md-4" for="id_upload_image">Include at least one image (maximum 10 images):</label>
    <div class="col-md-8">
        <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#addImageModal" type="button">
            <i class="bi bi-card-image"></i> Add image
        </button>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <div id="thumbnails" class="container d-flex flex-row flex-wrap p-0"></div>
    </div>
</div>

<div id="addImageModal" class="modal fade" tabindex="-1" aria-labelledby="addImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add an image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container my-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item mb-3 pb-4">
                            <p class="lead">Click "Save" to generate a random image.</p>
                        </li>
                        <li class="list-group-item mb-3 pb-4">
                            <label class="lead mb-3" for="id_upload_image">Or, upload an image from your computer.</label>
                            <input type="file" id="id_upload_image" name="upload_image" class="form-control" data-target="{{ upload_media.name }}" multiple="multiple">
                        </li>
                        <li class="list-group-item mb-3 pb-4">
                            <label class="lead mb-3" for="id_url_image">Or, add an image from the internet.</label>
                            <input type="url" id="id_url_image" name="url_image" class="form-control" data-target="{{ upload_media.name }}" placeholder="URL of image">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-click-action="{{ upload_media.name }}">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="editImageModal" class="modal fade" tabindex="-1" aria-labelledby="editImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-body d-flex justify-content-center mw-100">
                <div><img id="imageForEdit" alt="A picture of the listing being sold" class="img-fluid"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" data-click-action="{{ purge_media.name }}"><i class="bi bi-exclamation-octagon"></i> Delete Image</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="loadingImageModal" class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="loadingImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-body">
                <h3 id="loadingImageModalLabel">Loading image...</h3>
                <p>This can take a little while sometimes.</p>
            </div>
        </div>
    </div>
</div>