<nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link{% if index_active %} active{% endif %}" aria-current="page" href="{% url 'index' %}">Your Listings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if watchlist_active %} active{% endif %}" href="{% url 'watchlist' %}">Your Watchlist</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if settings_active %} active{% endif %}" href="{% url 'settings' %}">Your Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if drafts_active %} active{% endif %}" href="{% url 'drafts' %}">Listing drafts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if cart_active %} active{% endif %}" href="{% url 'shopping_cart' %}">
                Shopping cart
                {% if request.user.shopping_cart.all %}
                    <span class="badge rounded-pill bg-primary">{{ request.user.shopping_cart.count }}</span>
                {% endif %}
            </a>
        </li>
    </ul>
</nav>