{% extends "auctions/layout.html" %}

{% block body %}

    {% block breadcrumb %}
        {% include 'auctions/includes/breadcrumb.html' with page='Login' %}
    {% endblock breadcrumb %}

    {% block logged_out %}{% endblock logged_out %}

    <div class="alert alert-info">
        <p><strong>Welcome to Mocktions!</strong></p>
        <p>While you're here, I'd appreciate it if you could try out some of the features.
        To make it easier, I've added buttons to fill out most forms with randomly-
        generated information.</p><p>For instance, you can generate a random user by 
        clicking on <a href='register' class='alert-link'>register</a> 
        and then clicking the "Generate a random user" button. However, if you'd 
        like, you can also log in with one of the following generic users: 
        <ul>
            <li><strong>Username - <em>Password</em></strong></li>
            <li>alice - <em>default</em></li>
            <li>bob - <em>default</em></li>
            <li>charlie - <em>default</em></li>
        </ul>
        <p>If you notice any problems, please let me know 
        by emailing me at <a href='mailto:nhahoyt+mocktions@gmail.com' class='alert-link'>
        nhahoyt@gmail.com</a>. Thanks!</p>
    </div>

    {% if form.errors %}
            <div class="alert alert-warning">Username and password didn't match.</div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <div class="alert alert-warning">You don't have permission to access this page.</div>
        {% else %}
            <div class="alert alert-warning">Please login to continue.</div>
        {% endif %}
    {% endif %}

    <form action="{% url 'login' %}" method="post" class="container">
        {% csrf_token %}
        <div class="row mb-2">
            <div class="col col-md-3 text-end">
                {{ form.username.label_tag }}
            </div>
            <div class="col col-md-3">
                {{ form.username }}
            </div>
            <div class="col col-md-6"></div>
        </div>
        <div class="row mb-2">
            <div class="col col-md-3 text-end">
                {{ form.password.label_tag }}
            </div>
            <div class="col col-md-3">
                {{ form.password }}
            </div>
            <div class="col col-md-6"></div>
        </div>
        <div class="row mb-2">
            <div class="col col-md-3">
            </div>
            <div class="col col-md-3">
                <input type="submit" class="btn btn-primary" value="Login"/>
                <input type="hidden" name="next" value="{{ next }}">
            </div>
            <div class="col col-md-6"></div>
        </div>
        <div class="row mb-4">
            <div class="col col-md-3">
            </div>
            <div class="col col-md-3">
                <a href="{% url 'password_reset' %}" class="btn btn-outline-secondary">Reset your password</a></div>
            </div>
            <div class="col col-md-6">
        </div>
        <div class="row mb-4">
            <div class="col col-md-3">
            </div>
            <div class="col col-md-3">
                <p>Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
            </div>
            <div class="col col-md-6">
        </div>
    </form>


{% endblock %}