{% extends 'auctions/layout.html' %}

{% block body %}
    {% block breadcrumb %}
        {% include 'auctions/includes/breadcrumb.html' with page='Password reset' %}
    {% endblock breadcrumb %}    

    {% if validlink %}
        <form action="" method="post" class="container">
            {% csrf_token %}
            <div class="row mb-2">
                <div class="col col-md-3 text-end"></div>
                <div class="col col-md-3">
                    <p class="lead">Password reset</p>
                </div>
                <div class="col col-md-6"></div>
            </div>
            <div class="row mb-2">
                <div class="col col-md-3 text-end">
                    <label for="id_new_password1">New password:</label>
                </div>
                <div class="col col-md-3">
                    {{ form.new_password1 }}
                    <span class="small text-danger">{{ form.new_password1.errors }}</span>
                </div>
                <div class="col col-md-6"></div>
            </div>
            <div class="row mb-2">
                <div class="col col-md-3 text-end">
                    <label for="id_new_password2">Confirm password:</label>
                </div>
                <div class="col col-md-3">
                    {{ form.new_password2 }}
                    <span class="small text-danger">{{ form.new_password2.errors }}</span>
                </div>
                <div class="col col-md-6"></div>
            </div>
            <div class="row mb-2">
                <div class="col col-md-3 text-end">
                </div>
                <div class="col col-md-3">
                    <input type="submit" class="btn btn-primary" value="Reset password">
                </div>
                <div class="col col-md-6"></div>
            </div>
        </form>
    {% else %}
        <p class="lead">Password reset failed.</p>
        <p>The password reset link wasn't valid. Please try again.</p>
    {% endif %}

{% endblock body %}